/* Reset and base */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: black;
  color: white;
}

/* Navbar */
.navbar {
  background-color: black;
  padding: 20px 0;
  text-align: center;
  border-bottom: 2px solid #1a1a1a;
}
 
.csse{
    width: 100px;
    height: 30px;
}

/* Login Container */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 80px);
  padding: 20px;
}

.login-form {
  background-color: #6426a3;
  padding: 40px;
  border-radius: 10px;
  width: 100%;
  max-width: 400px;
  text-align: center;
}

.login-form h2 {
  font-size: 28px;
  margin-bottom: 20px;
}

.login-form label {
  display: block;
  text-align: left;
  margin-top: 15px;
  margin-bottom: 5px;
  font-size: 14px;
}

.login-form input {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: none;
  outline: none;
  font-size: 14px;
}

.login-form button {
  margin-top: 25px;
  width: 100%;
  padding: 12px;
  background-color: #584f4f;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background 0.3s;
}

.login-form button:hover {
  background-color: #ff0000;
}

.register-text {
  margin-top: 20px;
  font-size: 14px;
}

.register-text a {
  color: #ff00c8;
  text-decoration: none;
  font-weight: bold;
}

.register-text a:hover {
  text-decoration: underline;
}
