@import "tailwindcss";

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  color: white;
  flex-direction: column;
  min-height: 100vh;
    background-color: #101010; /* Dark background for the entire app */
}

